
.blogDivision {
    /*background: #265d9e;*/
    background: white;
    background: url(../../images/robotics/robotHeadAnimatedSlow.svg) center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-attachment: fixed;
}
@media (max-width: 768px) {
  .blogDivision {
    background-position: center 20px;
    background-size: 200px 160px;
  }
}
@media (min-width: 1200px) {
  /*.blogDivision {
    background-position: center 40px;
    background-size: 400px 320px;
  }*/
}


.jumboBlog {
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.jumboBlog cite {
  color: #FFFF00;
}



.jumboBlogBackground {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8%;
  padding-bottom: 2%;*/
  /*border-bottom: thin solid #101010;
  border-top: thin solid #101010;*/
  color:#FFFFF0;
  /*background: rgb(26,175,170,0.7);*/
  background: url('../../images/blog/transparent-blue.png') center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-attachment: fixed;
  /*border-top: 10px solid;
  border-bottom: 10px solid;*/
}
@media (max-width: 768px) {
  .jumboBlogBackground {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}
@media (min-width: 1200px) {
  .jumboBlogBackground {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

.transp-green {
  background: url('../../images/blog/transparent-green.png') center;
}





/*Blog THUMBNAILS*/

.blogThumbnail {
  /*border-color:#101010;*/
  margin-bottom: 5%;
}
@media (max-width: 768px) {
  .blogThumbnail {
    margin-bottom: 10%;
  }
}
@media (min-width: 1200px) {
  .blogThumbnail {
    margin-bottom: 5%;
  }

.blogThumbnail h1{
  text-align: center;
}

.blogThumbnail h2{
  font-weight: bold;
  border-style: solid;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-filter: opacity(90%);
}
.blogThumbnail h4{
  text-align: center;
  color: #666666;
  font-style: italic;
}

.blogThumbnail img{
  -webkit-filter: opacity(80%);
}

.blogThumbnail .thumbnailButton{
  font-weight: bold;
  text-align: center;
}

.blogThumbnail:hover {
  /*z-index: 10;*/
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  /*cursor:pointer;*/
  /* display:block; */
  text-decoration:none;
  /*text-align:center;*/
  /*background-color:rgb(38,93,158,0.7);*/
  /*color: black !important;*/
  border-color:#151515;
}

.blogThumbnail:hover .mask{
   opacity: 1;
   background-color:rgba(38,93,158,0.7);
}

.blogThumbnail:hover a{
  font-weight: bold;
}

.blogThumbnail:hover h1{
  font-weight: bold;
}
.blogThumbnail:hover h2{
  -webkit-filter: none;
}

.blogThumbnail:hover img{
  -webkit-filter: none;
  -webkit-mask-color: red;
}



/*Filter styles*/
.blogSaturate {-webkit-filter: saturate(3);}
.blogGrayscale {-webkit-filter: grayscale(100%);}
.blogContrast {-webkit-filter: contrast(160%);}
.blogBrightness {-webkit-filter: brightness(0.25);}
.blogBlur {-webkit-filter: blur(3px);}
.blogInvert {-webkit-filter: invert(100%);}
.blogSepia {-webkit-filter: sepia(100%);}
.blogHuerotate {-webkit-filter: hue-rotate(180deg);}
.blogOpacity {-webkit-filter: opacity(50%);}


.background-blue {
  color:#FFFFF0;
  background-color:#265d9e;  
}

.background-green {
  color:#FFFFF0;
  background-color:#00a6a5;  
}


/*Blog POSTS*/

.blogPost {
  border-width: 1px;
  border-radius: 10px;
  border-color: #101010;
  border-style: solid;
  background: #f5f5f5;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.blogPost h1{
  text-align: center;
  border-color: #101010;
  border-style: solid;
}

.blogPost h4{
  text-align: center;
  color: #666666;
  font-style: italic;
}

.blogPost p{
  color: black;
}

#postContent {
  padding-left: 2%;
  padding-right: 2%;
}