.roboticsBigCol { 
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
.roboticsBigCol { 
  margin-top: 20px;
  margin-bottom: 20px;
}  
}

.jumboRobotics {
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.jumboRobotics cite {
  color: #FFFF00;
}

/*ROBOTICS THUMBNAILS*/

.roboticsSoftwareThumbnail {
  border-color:#101010;
  border-style:dotted;
  border-width:medium;
}

.roboticsSoftwareThumbnail h3{
  font-weight: bold;
  text-align: center;
}

.roboticsSoftwareThumbnail .thumbnailButton{
  font-weight: bold;
  text-align: center;
}


/* ROBOTICS DIVISIONS */
.roboticsDivision1 {
  /* original size--> height="427" width="640" */
  /* height="3298" width="4947" */
    /*height: 300px;*/
    /*width: 300px;*/
    background: url(../../images/robotics/teo-foto1-less3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-attachment: fixed;
}
@media (max-width: 768px) {
  .roboticsDivision1 {
    background-position: center top;
    /* background-size: 200px 160px; */
  }
}
@media (min-width: 1200px) {
  .roboticsDivision1 {
    background-position: center top;
    /* background-size: 100% 100%; */
  }
}

.roboticsDivision2 {
    /*height: 300px;*/
    /*width: 300px;*/
    background: url(../../images/robotics/robotHeadAnimatedSlow.svg);
    background-color: white;
    background-position: center 30px;
    background-size: 300px 240px;
    background-repeat: no-repeat;
    border-top: 10px solid;
    border-bottom: 10px solid;
    background-attachment: scroll;
}
@media (max-width: 768px) {
  .roboticsDivision2 {
    background-position: center 20px;
    background-size: 200px 160px;
  }
}
@media (min-width: 1200px) {
  .roboticsDivision2 {
    background-position: center 40px;
    background-size: 400px 320px;
  }
}

/* ROBOTICS JUMBOTRON */
#jumboRoboticsIntro {
  margin-top: 40px;
  padding-top: 0px;
  /* margin-bottom: 30px; */
  border-bottom: medium solid #101010;
}
#jumboRoboticsIndex {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 30px;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F4F4F;
  color:#FFFFF0;
}
#jumboRoboticsResearch {
  margin-top: 338px;
  margin-bottom: 0px;
  padding-top: 2%;
  padding-bottom: 3%;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F2E34;
  color:#FFFFF0;
}
#jumboRoboticsHumanoidRobots {
  margin-top: 30px;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-bottom: 30px;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F4F4F;
  color:#FFFFF0;
}
#jumboRoboticsRobotLearning {
  margin-top: 30px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 30px;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F2E34;
  color:#FFFFF0;
}
#jumboRoboticsPublications {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2%;
  padding-bottom: 3%;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F4F4F;
  color:#FFFFF0;
}
#jumboRoboticsRobots {
  margin-top: 180px;
  margin-bottom: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F2E34;
  color:#FFFFF0;
}
#jumboRoboticsSoftware {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  color:#FFFFF0;
  background-color:#00248F;
  background: url('../../images/background/binary-wallpaper.jpg') center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top: 10px solid;
  border-bottom: 10px solid;
  background-attachment: fixed;
}
#jumboRoboticsReferences {
  /* padding: 0px; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#BDBDBD;
  color:black;
}
#jumboRoboticsReferences a{
  color:black;
}
#jumboRoboticsReferences div{
  /* padding: 0px; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
}
#jumboRoboticsPresentations {
  margin-top: 30px;
  padding-top: 0px;
  margin-bottom: 30px;
  border-bottom: thin solid #101010;
  border-top: thin solid #101010;
  background-color:#2F4F4F;
  color:#FFFFF0;
}
@media (max-width: 768px) {
  #jumboRoboticsIntro {
    margin-top: 40px;
    padding-top: 0px;
    /* margin-bottom: 80px; */
    border-bottom: 8px solid #101010;
  }
  #jumboRoboticsIndex {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsResearch {
    margin-top: 225px;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsHumanoidRobots {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsRobotLearning {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsPublications {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsRobots {
    margin-top: 120px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsSoftware {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
    background-repeat: repeat-y;
  }
  #jumboRoboticsReferences {
    margin-top: 0px;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsPresentations {
    margin-top: 80px;
    padding-top: 0px;
    margin-bottom: 80px;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
}

@media (min-width: 1200px) {
  #jumboRoboticsIntro {
    margin-top: 40px;
    padding-top: 0px;
    /* margin-bottom: 100px; */
    border-bottom: 10px solid #101010;
  }
  #jumboRoboticsIntro h1{
    font-size: 100px;
  }
  
  #jumboRoboticsIndex {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsResearch {
    margin-top: 450px;
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 3%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsHumanoidRobots {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsRobotLearning {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsPublications {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsPublications h1{
    color: #ffe9e5;
  }
  #jumboRoboticsRobots {
    margin-top: 240px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }  
  #jumboRoboticsSoftware {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4%;
    padding-bottom: 4%;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
  #jumboRoboticsReferences { 
    margin-top: 0px;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  } 
  #jumboRoboticsPresentations {
    margin-top: 50px;
    padding-top: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 50px;
    border-bottom: thin solid #101010;
    border-top: thin solid #101010;
  }
}

.noise-background {
  background: url('../../images/background/noise-1.png') center;
}


/* IMAGES IN TEXT */

/* roboticsICubImage --> original size: height="2697" width="3292" */
#roboticsICubImage {
    display: block;
    height: auto;
    max-width: 100%;
}
@media (max-width: 767px) {
  #roboticsICubImage {
   height: 120px;
   width: 160px;
  }
}
/* roboticsAsimoImage --> original size: height="1280" width="960" */
#roboticsAsimoImage {
    display: block;
    height: auto;
    max-width: 70%;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
  #roboticsAsimoImage {
   height: 128px;
   width: 96px;
  }
}

#roboticsRobotioImage {
    display: block;
    height: auto;
    max-width: 80%;
}
@media (max-width: 767px) {
  #roboticsRobotioImage {
    display: block;
    height: auto;
    max-width: 60%;
  }
}


/* ROBOTICS CAROUSEL */

/*#robotsCarousel { 
  margin-top: 60px;
}*/

#robotsCarousel .item{ height: 310px;}

#robotsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/teo-foto1-mid.jpg') top center no-repeat;
}

#robotsCarouselSlide2 {
  background: url('../../images/robotics/darwin-op.jpg') top center no-repeat;
}

#robotsCarouselSlide3 {
  background: url('../../images/robotics/summit-xl.jpg') center no-repeat;
}

#robotsCarouselSlide4 {
  background: url('../../images/robotics/kobuki.png') center no-repeat;
}

#robotsCarouselSlide5 {
  background: url('../../images/robotics/ABB-IRB-1600.jpg') top no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#robotsCarousel .item{ height: 310px;}

#robotsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/teo-foto1-mid.jpg') top center no-repeat;
}

#robotsCarouselSlide2 {
  background: url('../../images/robotics/darwin-op.jpg') top center no-repeat;
}

#robotsCarouselSlide3 {
  background: url('../../images/robotics/summit-xl.jpg') center no-repeat;
}

#robotsCarouselSlide4 {
  background: url('../../images/robotics/kobuki.png') center no-repeat;
}

#robotsCarouselSlide5 {
  background: url('../../images/robotics/ABB-IRB-1600.jpg') top no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#robotsCarousel .item{ height: 310px;}

#robotsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/teo-foto1-mid-nobg.jpg') top center no-repeat;
}

#robotsCarouselSlide2 {
  background: url('../../images/robotics/darwin-op.jpg') top center no-repeat;
}

#robotsCarouselSlide3 {
  background: url('../../images/robotics/summit-xl.jpg') center no-repeat;
}

#robotsCarouselSlide4 {
  background: url('../../images/robotics/kobuki.jpg') center no-repeat;
}

#robotsCarouselSlide5 {
  background: url('../../images/robotics/ABB-IRB-1600.jpg') top no-repeat;
}

}



/* ANIMATIONS */

.index-list {
  text-align: center;
}

.index-square .name {
  margin-top: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #F2F2F2;
  width: 100%;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
}

.index-square{
  background-color:#1a1a1a;
  border: thin solid #101010;
  min-height: 85px;
}

@media (max-width: 767px) {
  .index-square .name {
    font-size: 18px;
    text-decoration: none;
    color: #F2F2F2;
    width: 100%;
      /* position: absolute; */
      /* top: 0; */
      /* left: 0; */
  }

  .index-square{
    margin-top: 10px;
    background-color:#1a1a1a;
    border: thin solid #101010;
    min-height: 60px;
  }

}


.index-square:hover {
  z-index: 10;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  cursor:pointer;           
  /* display:block; */
  text-decoration:none;
  text-align:center;
  background-color: #424242;
  color: black !important;
  border-color:#151515;
  border-style:dotted;
  border-width:medium;
}

.index-square:hover a{
  color:#151515;
}