
body {
  background: #2A2A2A;
  width: 100%;
  height: 100%;
}

/*  -----------------------------------
    Global Styles
    ----------------------------------- */
.alert {
  margin-top: 20px;
  display: none;
}

/* ESTO DEBE SER TEMPORAL*/
#bigCallout1 { 
  margin-top: 80px;
}

/*  -----------------------------------
    Navbar
    ----------------------------------- */

#searchInput { /* SearchInput is an ID*/
  width: 200px;
}

/*  -----------------------------------
    Layout
    ----------------------------------- */
body {
  background: #2A2A2A;
  width: 100%;
  height: 100%;
}


/*  -----------------------------------
    Typography
    ----------------------------------- */

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/*.well .page-header {
  margin-top: 0;
}

.well .page .h2 {
  margin-top: 0;
}*/

ul.unstyled {
  list-style: none;
  padding: 0;
}

/*  -----------------------------------
    Footer
    ----------------------------------- */

#footerSocialMedia {
  background: #333;
  font-size: 15px;
  color: #eee;
  /*padding: 20px;*/
  /*padding: 0;*/
}

#footerCopyright {
  background: #2A2A2A;
  /*background: blue;*/
  font-size: 15px;
  color: #eee;
}

  .footericon {
    margin: 10px;
    height: 35px;
    width: 35px;
  }

@media (min-width: 768px) {
  .footericon {
    margin: 10px;
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 992px) {
  .footericon {
    margin: 10px;
/*     height: 60px;
width: 60px; */
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .footericon {
    margin: 10px;
/*    height: 66px;
    width: 66px;*/
    height: 40px;
    width: 40px;
  }
}

/*  -----------------------------------
    Carousels
    ----------------------------------- */
.carousel-caption {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-caption h4{
  font-size: 32px;
}

#bioCarousel { 
  /*margin-top: 60px;*/
  /*margin-top: 1px;*/
}

#bioCarousel .item{ height: 400px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#bioCarousel .item{ height: 310px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#bioCarousel .item{ height: 500px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}


/* ROBOTICS CAROUSEL */

#roboticsCarousel { 
  margin-top: 60px;
}

#roboticsCarousel .item{ height: 400px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#roboticsCarousel .item{ height: 310px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#roboticsCarousel .item{ height: 500px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

}




/*  -----------------------------------
    Modals
    ----------------------------------- */

.modal-header h4 {
  font-size: 20px;
  font-weight: bold;
}

#contactModalContent {
  color: #eee;
  background-color: #080808;
  padding: 0;
 }

.contactModalIcon {
  /*margin: 10px;*/
  height: 20px;
  width: 20px;
}



/*  -----------------------------------
    Collapse 
    ----------------------------------- */

/*#cvAccordion {
  margin-top: 60px;  
}*/

#cvAccordion .panel-heading {
  background-color: #2B2B2B;
  color: #eee;
}

#cvAccordion .panel-heading .panel-title{
    font-weight: bold;
}



/*  -----------------------------------
    Jumbotron
    ----------------------------------- */

  #jumboWelcome {
    /*background-color: #4A34C3;*/
    background-color: #3F29B8;
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0;

    /* background-image: url(../../images/index/domingo-principal1X1.jpg); */
    /* background-size: 160px 120px; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: 0% 0%; */
  }

@media (min-width: 768px) { 
  #jumboWelcome {
    background-color: #3F29B8;
    background-image: none;
  }
}

#jumboWelcome .container {
  margin-right: 0px;
  margin-left: 10px;
}

#jumboWelcome .container h1 {
  font-weight: bold;
  color: #FFFFFF;
}

#jumboWelcome .container p {
  color: #FFFFFF;
  font-size: 16px;
}
@media (min-width: 768px) { 
  #jumboWelcome .container p {
    font-size: 22px;
  }
}

#jumboWelcome .container p a{
    color: inherit;
}


#jumboWelcomeImage {
   height: 120px;
   width: 160px;
}
@media (min-width: 768px) { 
  #jumboWelcomeImage {
     height: 420px;
     width: 560px;
  }
}


#jumboIndexRobotics {
  background-color: #216E0E;
  margin: 0px;
  padding: 0;
}

#jumboIndexRobotics .container h1 {
  font-weight: bold;
  color: #FFFFFF;
}
@media (min-width: 768px) { 
  #jumboIndexRobotics .container h1 {
    font-size: 30px;
  }
}
@media (min-width: 992px) { 
  #jumboIndexRobotics .container h1 {
    font-size: 63px;
  }
}


#jumboIndexRobotics .container p {
  color: #FFFFFF;
  font-size: 16px;
}
@media (min-width: 768px) { 
  #jumboIndexRobotics .container p {
    font-size: 18px;
  }
}
@media (min-width: 992px) { 
  #jumboIndexRobotics .container p {
    font-size: 22px;
  }
}

#jumboIndexRoboticsImage {
  height: 120px;
  width: 160px;
}
@media (min-width: 768px) { 
  #jumboIndexRoboticsImage {
    height: 264px;
    width: 352px;
  }
}
@media (min-width: 992px) { 
  #jumboIndexRoboticsImage {
    height: 336px;
    width: 448px;
  }
}
@media (min-width: 1200px) { 
  #jumboIndexRoboticsImage {
     height: 420px;
     width: 560px;
  }
}


#jumboBio {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  /*background-color: transparent;*/
  background: url('../../images/background/noise-1.png') center;
  /*background-size: 100% auto;*/
}

#jumboBio h1{
  margin-bottom: 0;
  font-size: 40px;
}

#jumboBio h2{
  margin:  0;
  color: #b9b9b9;
  font-size: 20px;
}

#jumboBio p{
  color: #080808;
  font-size: 15px;
  /*text-justify: inter-word;*/
}

#jumboBio a {
  color: #080808;
}

#jumboBioText {
  background-color: white;
}

#jumboBioImage {
  width: 100%;
  height: auto;
}






#jumboWholeBodyHumanoidAbstract {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  /*background-color: transparent;*/
  background: url('../../images/background/noise-1.png') center;
  /*background-size: 100% auto;*/
}

#jumboWholeBodyHumanoidAbstract h1{
  margin-bottom: 0;
  font-size: 40px;
}

#jumboWholeBodyHumanoidAbstract h2{
  margin:  0;
  color: #b9b9b9;
  font-size: 20px;
}

#jumboWholeBodyHumanoidAbstract p{
  color: #080808;
  font-size: 15px;
  /*text-justify: inter-word;*/
}

#jumboWholeBodyHumanoidAbstract a {
  color: #080808;
}

#jumboWholeBodyHumanoidAbstractText {
  background-color: white;
}

#jumboWholeBodyHumanoidAbstractImage {
  width: 100%;
  height: auto;
}

/*  -----------------------------------
    Others
    ----------------------------------- */

#cvIntroText {
  margin-top: 60px;  
  color: white;
}



/*  -----------------------------------
    Classes
    ----------------------------------- */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}