
/*  -----------------------------------
    Global Styles
    ----------------------------------- */
.alert {
  margin-top: 20px;
  display: none;
}

/* ESTO DEBE SER TEMPORAL*/
#bigCallout1 { 
  margin-top: 80px;
}

/*  -----------------------------------
    Navbar
    ----------------------------------- */

#searchInput { /* SearchInput is an ID*/
  width: 200px;
}

/*  -----------------------------------
    NAVBAR
    ----------------------------------- */

.navbar-blue {
  background-color: #104875;
  /*background-color: #265d9f;*/
  border-color: #104875;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}
.navbar-blue .navbar-brand {
  color: #7ccadd;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #ffffff;
}
.navbar-blue .navbar-text {
  color: #ffffff;
}
.navbar-blue .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
  color: #0074c8;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #424242;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #424242;
}
.navbar-blue .navbar-toggle {
  border-color: #424242;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #424242;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #7ccadd;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #7ccadd;
}
.navbar-blue .navbar-link {
  color: #7ccadd;
}
.navbar-blue .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #104870;
  }
}



/*  -----------------------------------
    Layout
    ----------------------------------- */
body {
  background: #104875;
  /*background: #265d9e;*/
  /*background: #2A2A2A;*/
  width: 100%;
  height: 100%;
}


/*  -----------------------------------
    Typography
    ----------------------------------- */

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/*.well .page-header {
  margin-top: 0;
}

.well .page .h2 {
  margin-top: 0;
}*/

ul.unstyled {
  list-style: none;
  padding: 0;
}

/*  -----------------------------------
    Footer
    ----------------------------------- */

#footerSocialMedia {
  background: #333;
  font-size: 15px;
  color: #eee;
  /*padding: 20px;*/
  /*padding: 0;*/
}

#footerSocialMedia-blue {
  background: #104875;
  /*background: #265d9f;*/
  font-size: 15px;
  color: #eee;
  /*padding: 20px;*/
  /*padding: 0;*/
}

#footerCopyright {
  background: #2A2A2A;
  font-size: 15px;
  color: #eee;
}

#footerCopyright-blue {
  background: #104875;
  /*background: #265d9f;*/
  font-size: 15px;
  color: white;
}


.footericon {
  margin: 10px;
  height: 35px;
  width: 35px;
}

@media (min-width: 768px) {
  .footericon {
    margin: 10px;
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 992px) {
  .footericon {
    margin: 10px;
/*     height: 60px;
width: 60px; */
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .footericon {
    margin: 10px;
/*    height: 66px;
    width: 66px;*/
    height: 40px;
    width: 40px;
  }
}

.footer-selection:hover {
  z-index: 10;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  cursor:pointer;           
  /* display:block; */
  text-decoration:none;
  text-align:center;
  background-color: #424242;
  color: black !important;
  border-color:#151515;
}

.footer-selection:hover a{
  color:#151515;
}




/*  -----------------------------------
    Carousels
    ----------------------------------- */
.carousel-caption {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-caption h4{
  font-size: 32px;
}

#bioCarousel { 
  /*margin-top: 60px;*/
  /*margin-top: 1px;*/
}

#bioCarousel .item{ height: 400px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#bioCarousel .item{ height: 310px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#bioCarousel .item{ height: 500px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}


/* ROBOTICS CAROUSEL */

/*#roboticsCarousel { 
  margin-top: 60px;
}*/

#roboticsCarousel .item{ height: 400px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#roboticsCarousel .item{ height: 310px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#roboticsCarousel .item{ height: 500px;}

#roboticsCarouselSlide1 {
  /*background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;*/
  background: url('../../images/robotics/Whole-body-TEO-Intro.png') center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

}




/*  -----------------------------------
    Modals
    ----------------------------------- */

.modal-header h4 {
  font-size: 20px;
  font-weight: bold;
}

#contactModalContent {
  color: #eee;
  /*background-color: #080808;*/
  background-color: #101010;
  padding: 0;
 }

.contactModalIcon {
  /*margin: 10px;*/
  height: 20px;
  width: 20px;
}



/*  -----------------------------------
    Collapse 
    ----------------------------------- */

/*#cvAccordion {
  margin-top: 60px;  
}*/

#cvAccordion .panel-heading {
  background-color: #2B2B2B;
  color: #eee;
}

#cvAccordion .panel-heading .panel-title{
    font-weight: bold;
}



/*  -----------------------------------
    Jumbotron
    ----------------------------------- */


#jumboBio {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  /*background-color: transparent;*/
  background: url('../../images/background/noise-1.png') center;
  /*background-size: 100% auto;*/
}

#jumboBio h1{
  margin-bottom: 0;
  font-size: 40px;
}

#jumboBio h2{
  margin:  0;
  color: #b9b9b9;
  font-size: 20px;
}

#jumboBio p{
  color: #080808;
  font-size: 15px;
  /*text-justify: inter-word;*/
}

#jumboBio a {
  color: #080808;
}

#jumboBioText {
  background-color: white;
}

#jumboBioImage {
  width: 100%;
  height: auto;
}






#jumboWholeBodyHumanoidAbstract {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  /*background-color: transparent;*/
  background: url('../../images/background/noise-1.png') center;
  /*background-size: 100% auto;*/
}

#jumboWholeBodyHumanoidAbstract h1{
  margin-bottom: 0;
  font-size: 40px;
}

#jumboWholeBodyHumanoidAbstract h2{
  margin:  0;
  color: #b9b9b9;
  font-size: 20px;
}

#jumboWholeBodyHumanoidAbstract p{
  color: #080808;
  font-size: 15px;
  /*text-justify: inter-word;*/
}

#jumboWholeBodyHumanoidAbstract a {
  color: #080808;
}

#jumboWholeBodyHumanoidAbstractText {
  background-color: white;
}

#jumboWholeBodyHumanoidAbstractImage {
  width: 100%;
  height: auto;
}

/*  -----------------------------------
    Others
    ----------------------------------- */

#cvIntroText {
  margin-top: 60px;  
  color: white;
}



/*  -----------------------------------
    Classes
    ----------------------------------- */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.circle-image img{
  width: 300px;
  height: 300px;
  margin: 0px 0 0 0px;
}




.sectionHead {
  background-color:#265d9e;
  color:#CBCFFA;  
}

.sectionHead-white {
  background-color:#f5f5f5;
  color:black;
}


#masthead {
  min-height:270px;
  background-color:#265d9e;
  color:#CBCFFA;
  padding-top:0px;
}

#masthead .well {
  margin-top:8%;
  background-color:#104875;
  border-color:#1A1B29;
}

#masthead h1 {
  margin-top:8%;
  font-size: 100px;
}

#masthead strong {
  font-size: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #masthead h1 {
    font-size: 100px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #masthead h1 {
    font-size: 100px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #masthead h1 {
    font-size: 120px;
  }
}

#masthead a, #masthead .lead {
  color:#A9B0FB;
  /* color:#8F95D7; */
}

#masthead a {
  color:#E3E4EB;
}

#masthead a img {
  width: 20px;
}




#masthead-white {
  min-height:270px;
  background-color:#f5f5f5;
  color:#CBCFFA;
  padding-top:0px;
}

#masthead-white .well {
  margin-top:8%;
  background-color:#104875;
  border-color:#1A1B29;
}

#masthead-white h1 {
  color:black;
  margin-top:8%;
  font-size: 100px;
}

#masthead-white strong {
  font-size: 25px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #masthead-white h1 {
    font-size: 100px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #masthead-white h1 {
    font-size: 100px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #masthead h1 {
    font-size: 120px;
  }
}


#masthead-white .lead {
  color:black;
}

#masthead-white a {
  color:#E3E4EB;
}

#masthead-white a img {
  width: 20px;
}






.navbar-bright a {
    color:#aaccaa;
}

.navbar-bright li > a:hover {
    background-color:#003300;
}



#c1, #c2, #c3,
#c4, #c5, #c6,
#c7, #c8, #c9 {
  margin-top: 50px;
}

#mycontent div h2{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#mycontent div h3 {
  font-weight: bold;
}


@media (min-width: 979px) {
  #mynav.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #mynav.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#mynav li.active a {
  background-color:#104875;
  border-color:#CBCFFA;
  color:#CBCFFA;
  font-weight: bold;
}

#mynav li a {
  background-color:#E0E0FF;
  border-color:#262841;
  color:#262841;
}


/* @media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 100px;
  }
} */



.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

.text-responsive01 {
  font-size: 16px !important;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
    .text-responsive01 {
      font-size: 16px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
    .text-responsive01 {
      font-size: 18px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
    .text-responsive01 {
      font-size: 20px !important;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {  
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }

    .text-responsive01 {
      font-size: 21px !important;
    }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align2 {
  display: flex;
  flex-direction: row;
}

.vertical-align2 > [class^="col-"],
.vertical-align2 > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column */
} 




.scroll-top-wrapper {
  font-size: 20px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  /* background-color: #777777; */
  background-color: #00020C;
  color: #9d9d9d;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .scroll-top-wrapper {
    width: 30px;
    height: 28px;
    font-size: 12px;
    line-height: 24px;
    right: 15px;
    bottom: 15px;
    padding-top: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }  
}

.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}



/* ANIMATIONS */

.robotLoader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../../images/robotics/robotHeadAnimated.svg') 50% 50% no-repeat rgb(38,93,154);
  /*background: url('../../images/robotics/robotHeadAnimated.svg') 50% 50% no-repeat rgb(77,77,77);*/
}




.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}​
