
body {
  background: #2A2A2A;
  width: 100%;
  height: 100%;
}

/*  -----------------------------------
    Global Styles
    ----------------------------------- */
.alert {
  margin-top: 20px;
  display: none;
}

/* ESTO DEBE SER TEMPORAL*/
#bigCallout1 { 
  margin-top: 80px;
}

/*  -----------------------------------
    Navbar
    ----------------------------------- */

#searchInput { /* SearchInput is an ID*/
  width: 200px;
}

/*  -----------------------------------
    Layout
    ----------------------------------- */
body {
  background: #2A2A2A;
  width: 100%;
  height: 100%;
}

#footerSocialMedia {
  background: #333;
  font-size: 15px;
  color: #eee;
  /*padding: 20px;*/
  /*padding: 0;*/
}

#footerCopyright {
  background: #2A2A2A;
  /*background: blue;*/
  font-size: 15px;
  color: #eee;
}

/*  -----------------------------------
    Typography
    ----------------------------------- */

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/*.well .page-header {
  margin-top: 0;
}

.well .page .h2 {
  margin-top: 0;
}*/

ul.unstyled {
  list-style: none;
  padding: 0;
}

/*  -----------------------------------
    Footer
    ----------------------------------- */

  .footericon {
    margin: 10px;
    height: 25px;
    width: 25px;
  }

/* Media queries */
@media (min-width: 1200px) {
  .footericon {
    margin: 10px;
    height: 66px;
    width: 66px;
  }
}

/*  -----------------------------------
    Carousels
    ----------------------------------- */
.carousel-caption {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
}

.carousel-caption h4{
  font-size: 32px;
}

#bioCarousel { 
  /*margin-top: 60px;*/
  /*margin-top: 1px;*/
}

#bioCarousel .item{ height: 400px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#bioCarousel .item{ height: 310px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#bioCarousel .item{ height: 500px;}

#bioCarouselSlide1 {
  background: url('../../images/bio/Arequipa-cathedral.jpg') center no-repeat;
}

#bioCarouselSlide2 {
  background: url('../../images/bio/Madrid-Ville.jpg') top center no-repeat;
}

#bioCarouselSlide3 {
  background: url('../../images/bio/Villasandino.jpg') center no-repeat;
}

}


/* ROBOTICS CAROUSEL */

#roboticsCarousel { 
  margin-top: 60px;
}

#roboticsCarousel .item{ height: 400px;}

#roboticsCarouselSlide1 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;
}

/* Media queries */
/* Portrait and landscape phone */
@media (max-width: 480px) {

}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

#roboticsCarousel .item{ height: 310px;}

#roboticsCarouselSlide1 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;
}

}
/* Large desktop */
@media (min-width: 1200px) {

#roboticsCarousel .item{ height: 500px;}

#roboticsCarouselSlide1 {
  background: url('../../images/robotics/ros-indigoigloo.png') top center no-repeat;
}

#roboticsCarouselSlide2 {
  background: url('../../images/icons/github-circle-logo-128.png') center no-repeat;
}

#roboticsCarouselSlide3 {
  background: url('../../images/robotics/TEO-fondoAzul.jpg') top center no-repeat;
}

}




/*  -----------------------------------
    Modals
    ----------------------------------- */

.modal-header h4 {
  font-size: 20px;
  font-weight: bold;
}

#contactModalContent {
  color: #eee;
  background-color: #080808;
  padding: 0;
 }

.contactModalIcon {
  /*margin: 10px;*/
  height: 20px;
  width: 20px;
}



/*  -----------------------------------
    Collapse 
    ----------------------------------- */

#cvAccordion {
  margin-top: 60px;  
}

#cvAccordion .panel-heading {
  background-color: #2B2B2B;
  color: #eee;
}

#cvAccordion .panel-heading .panel-title{
    font-weight: bold;
}



/*  -----------------------------------
    Jumbotron
    ----------------------------------- */

#jumboWelcome {
  /*background-color: #4A34C3;*/
  background-color: #3F29B8;
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
}

#jumboWelcome .container {
  margin-right: 0px;
  margin-left: 10px;
}

/*#jumboWelcomeText {
  background: rgba(0, 0, 0, 0.1);
}*/

#jumboWelcome .container h1 {
  font-weight: bold;
  color: #FFFFFF;
}

#jumboWelcome .container p {
  color: #FFFFFF;
}

#jumboWelcome .container p a{
    color: inherit;
}

#jumboWelcomeImage {
   height: 420px;
   width: 560px;
}

#jumboBio {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  /*background-color: transparent;*/
  background: url('../../images/background/noise-1.png') center;
  /*background-size: 100% auto;*/
}

#jumboBio h1{
  margin-bottom: 0;
  font-size: 40px;
}

#jumboBio h2{
  margin:  0;
  color: #b9b9b9;
  font-size: 20px;
}

#jumboBio p{
  color: #080808;
  font-size: 15px;
  /*text-justify: inter-word;*/
}

#jumboBio a {
  color: #080808;
}

#jumboBioText {
  background-color: white;
}

#jumboBioImage {
  width: 100%;
  height: auto;
}

#jumboIndexRobotics {
  background-color: #216E0E;
  margin: 0px;
  padding: 0;
}

#jumboIndexRobotics .container h1 {
  font-weight: bold;
  color: #FFFFFF;
}

#jumboIndexRobotics .container p {
  color: #FFFFFF;
}

#jumboIndexRoboticsImage {
   height: 420px;
   width: 560px;
}